<% if records.total_pages > 1 %>
  <nav class="flex justify-center mt-6">
    <ul class="flex space-x-2">

      <% if records.prev_page %>
        <li>
          <%= link_to "&laquo;".html_safe, url_for(page: records.prev_page),
                class: "px-3 py-1 rounded bg-gray-200 text-gray-700 hover:bg-gray-300" %>
        </li>
      <% end %>

      <% (1..records.total_pages).each do |page| %>
        <% if page == records.current_page %>
          <li>
            <span class="px-3 py-1 rounded bg-blue-500 text-white font-bold shadow"><%= page %></span>
          </li>
        <% else %>
          <li>
            <%= link_to page, url_for(page: page),
                  class: "px-3 py-1 rounded bg-gray-200 text-gray-700 hover:bg-gray-300" %>
          </li>
        <% end %>
      <% end %>

      <% if records.next_page %>
        <li>
          <%= link_to "&raquo;".html_safe, url_for(page: records.next_page),
                class: "px-3 py-1 rounded bg-gray-200 text-gray-700 hover:bg-gray-300" %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>